<!DOCTYPE html>
<html>
  <head>
    <title>HTML input Tag</title>
  </head>
      <body>
        <h1>IdeaBox</h1>

          <div id="idea-form">

            <input id="idea-title" type="text" name="first_name" placeholder="Title" maxlength="100" />
              <br />
            <input id="idea-body" type="text" name="last_name" placeholder="Body" maxlength="100" />
              <br />
            <button id="create-idea" type="button" name="button">Create Idea</button>
          </div>

          <div class="" id="ideas">

          </div>
      </body>
</html>
